<section class="mb-large hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %} pt-small pb-none">
        <div class="container p-small pb-none">
            <div class="columns is-4 is-vcentered">
                <div class="column">
                    <h1 class="title is-1">{{ page.title }}</h1>
                    <p class="subtitle is-3">{{ page.subtitle }}</p>
                    {% if page.hero_link %}
                        <a href="{{ page.hero_link | relative_url }}" class="button {%if page.hero_link_style %} {{ page.hero_link_style }} {% else %} is-light {% endif %} is-outlined is-rounded is-medium">{{ page.hero_link_text }}</a>
                    {% endif %}
                </div>
                
                {% if page.image %}
                    <div class="column mb-negative-large">
                        <img src="{{page.image}}" class="thumbnail mx-auto is-rounded"/>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>