<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p>Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a> and slightly modified by <a href="https://mattia.codes">Mattia Sinisi</a> and <a href="https://gloriadesiderideveloper.it/">Gloria Desideri</a></p>
            <small>Le immagini utilizzate sono prese liberamente da internet, utilizziamo l'URL invece di scaricarle. Mostriamo sempre riconoscimenti agli artisti originali dove richiesto.</small>
        </div>
    </div>
</footer>

<footer class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <p class="title is-3">Contribuenti</p>

            <a href="https://github.com/thedevelopertoolbox/thedevelopertoolbox.github.io/graphs/contributors">
                <img src="https://contrib.rocks/image?repo=thedevelopertoolbox/thedevelopertoolbox.github.io" />
            </a>    
            
            <p>Potresti esserci anche tu qui ☝</p>
        </div>
    </div>
</footer>