<div class="columns is-desktop">
	<div class="column">
		<div class="card">
			<div class="card-content">
				<h5>Trovato errori o argomenti mancanti?</h5>
			
				<p>Questo sito è completamente <strong>open source</strong>, quindi mandaci pure le tue modifiche e contribuisci al progetto!</p>
			</div>

			<div class="card-footer">
				<a class="card-footer-item" href="{{site.collaboration_links.issues}}">Apri issue</a>
				<a class="card-footer-item" href="{{site.collaboration_links.pull_requests}}">Apri pull request</a>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<div class="card-content">
				<h5>Hai delle domande?</h5>
			
				<p>Se hai dei problemi con un tool, un framework o una libreria proposta apri o partecipa ad una discussione con il resto della community.</p>
			</div>

			<div class="card-footer">
				<a class="card-footer-item" href="{{site.collaboration_links.discussions}}">Partecipa alle discussioni</a>
			</div>
		</div>
	</div>
</div>
