{% if include.category %}
    {% assign actual_category = include.category %}
{% else %}
    {% assign actual_category = page.category %}
{% endif %}
<section class="box">
    <p class="subtitle is-2">Esplora <span class="has-text-weight-bold">{{actual_category | capitalize}}</span></p>
    <hr />
    <ul>
        {% for p in site.pages %}
            {% if p.title and p.url != page.url and p.category == actual_category or p.categories contains actual_category %}
                <li>
                    <a href="{{p.url}}">{{p.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>