{% if include.category %}
    {% assign actual_category = include.category %}
{% else %}
    {% assign actual_category = page.category %}
{% endif %}
<section class="box is-dark is-family-monospace">
    <p>
        <span class="has-text-grey">$:</span>
        ls
        <span class="has-text-weight-bold has-text-success">{{actual_category}}</span>/        
    </p>
    <div>
        {% for p in site.pages %}
            {% if p.title and p.url != page.url and p.category == actual_category or p.categories contains actual_category %}
                <span class="is-block">
                    <span class="has-text-grey">&gt;</span>
                    <a href="{{p.url}}">{{p.title}}</a>
                </span>
            {% endif %}
        {% endfor %}
    </div>
</section>