---
layout: default
---

<div class="content box is-rounded p-0">
  <img src="{{page.image}}" class="thumbnail mx-auto is-rounded has-shadow"/>

  <div class="section">
      <p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>

      {{ content }}
  </div>
</div>

{% if page.tags %}
<div class="tags section">
  {% for tag in page.tags %}
    {% include tag.html tag=tag %}
  {% endfor %}
</div>
{% endif %}

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %}